#portfolioContentSection {
  width: 1100px;
  height: 90svh;
  background-color: #21242e;
  border-radius: 15px 15px 0 0;
  z-index: 2;
  position: relative;
  margin-top: -15px;
  background-color: #21242e;
  box-shadow: #21242e 0px 5px 15px;
  h2 {
    font-size: 20px;
    position: absolute;
    margin-left: 10%;
    top: 10%;
  }
  #portfolioContentContainer {
    width: 1100px;
    height: 100%;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;

    .portfolioProjectsCards {
      position: absolute;
      left: 0;
      top: 35%;
      display: flex;
      flex-direction: row-reverse;
      gap: 50px;
      scroll-behavior: smooth;
      max-width: 60%;
      transform: (translateX(-20%));
      min-height: 100%;
      box-sizing: border-box;
      scrollbar-width: none;
      -ms-overflow-style: none;
      z-index: 160;
      .portfolioProjectsCards::-webkit-scrollbar {
        display: none;
      }

      .card {
        pointer-events: auto;
        min-width: 380px;
        height: 280px;
        border-radius: 15px;
        box-shadow: 0 4px 20px 0 #0000002d;
        z-index: 160;
      }
    }
    .portfolioDescriptionBody {
      position: absolute;
      right: calc(200px - 175px);
      top: 35%;
      width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      margin-right: 50px;
      z-index: 150;
      #year {
        margin-top: 10px;
      }
      #technoContainerLarge {
        backdrop-filter: blur(10px);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        gap: 10px;
        border-radius: 10px;
        p {
          font-size: 12px;
          width: auto;
          padding: 4px 10px;
          margin-top: 0;
        }
      }
      p {
        width: 350px;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        margin-top: 20px;
      }
      button {
        margin-top: 20px;
      }
    }

    .portfolioProjectsBackground {
      position: absolute;
      right: 0;
      bottom: -10%;
      border-radius: 0 15px 0 0;
      width: 650px;
      min-height: 120%;
      content: "";
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 140;
    }
    #projectsCounter {
      position: absolute;
      left: 15%;
      bottom: 15%;
      z-index: 160;
      @media screen and (min-width: 1500px) {
        bottom: 20%;
      }
      p {
        color: #e2e2e2b5;
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  #portfolioContentSection {
    min-height: 100svh;
    width: 100%;
    margin-top: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 18px;
      margin-left: 0;
      top: 0;
      height: 10%;
      display: flex;
      align-items: center;
      position: relative;
    }
    #portfolioContentContainer {
      min-height: 90svh;
      width: 100%;
      border-radius: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .portfolioProjectCard {
        border-radius: 15px;
        height: 90%;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        .cardImgContainer {
          width: 96%;
          height: 300px;
          margin-top: 6px;

          img {
            height: 100%;
            width: 100%;
            border-radius: 15px;
            object-fit: cover;
          }
        }
        .cardBodyContainer {
          display: flex;
          flex-direction: column;
          align-items: center;

          h3 {
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 10px;
          }
          #technoContainer {
            display: flex;
            width: 100%;
            justify-content: center;
            gap: 10px;
            margin-top: 20px;
            p {
              color: #4783c7;
              font-size: 12px;
            }
          }
          #projectDescription {
            width: 95%;
            margin-top: 20px;
            text-align: center;
            line-height: 20px;
          }
          button {
            margin-top: 20px;
          }
        }
      }
      #projectsCounter {
        position: relative;
        left: 0;
        bottom: 0;
        margin-bottom: 45px;
        p {
          color: #e2e2e2b5;
          font-size: 16px;
        }
      }
    }
  }
}
