@font-face {
  font-family: "Figtree";
  src: url("../../../public/fonts/Figtree-Regular.ttf");
}
@font-face {
  font-family: "Collidge Rounded";
  src: url("../../../../public/fonts/CollidgePUA-Rounded.otf");
}
@font-face {
  font-family: "Fatfont";
  src: url("../../../public/fonts/FREEFATFONT-Regular.otf");
}
@font-face {
  font-family: "Dryouth";
  src: url("../../../../public/fonts/Dryouth-Regular.ttf");
}
@font-face {
  font-family: "Ground";
  src: url("../../../../public/fonts/Ground.ttf");
}

$figtree-regular: "Figtree";
$fatfont-regular: "Fatfont";
$dryouth-regular: "Dryouth";
$ground-regular: "Ground";
$collidge-rounded: "Collidge Rounded";
